<div id="help-modal">
  <div class="modal-body">
  <h4 id="help-title">Help</h4>
  <ul class="help-list">
    <li>How To Use</li>
    <li>
      1. Enter a new drum pattern by clicking the white squares.
      The squares will turn green to indicate they are now part of the sequence. To remove a square from the sequence,
      simply click it again. You can remove the whole sequence by clicking "Clear".
      Use the "All" buttons to select every square (Hint: this can be useful for things like the HiHat).
    </li>
    <li>
      2. Enter a BPM (Beats Per Minute), also known as the songs "tempo". The standard BPM is 120 BPM.
    </li>
    <li>
      3. Select your meter. The left note is a sixteenth note, the middle is an eighth, and the right is a quarter.
    </li>
    <li>
      4. Hit the "Play" button to intitiate the sequence. Stop your sequence using the "Stop" button.
    </li>
    <li>
      5. Adjust your FX parameters. Below the sequencer, are three FX controls for each instrument making up the drum kit.
      Play around with them and have some fun!
    </li>
  </ul>
  <div class="close help">Close</div>
  </div>
</div>
