<div id="login-modal">
  <div class="modal-body">
  <h4 id="login-title">Login</h4>
  <hr>
    <form id="login-form">
      <input type="text" name="username" placeholder="Username">
      <input type="text" name="password" placeholder="Password">
      <br>
      <input type="submit" name="submit" value="Submit">
    </form>
    <div class="close login">Close</div>
  </div>
</div>
