<div id="signup-modal">
  <div class="modal-body">
  <h4 id="signup-title">Signup</h4>
    <form id="signup-form">
      <input type="text" name="username" placeholder="Username">
      <input type="text" name="password" placeholder="Password">
      <br>
      <input type="submit" name="submit" value="Submit">
    </form>
  </div>
</div>
