<!DOCTYPE html>
<html>
  <head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1.0" />
		<title>Beat Connection</title>
    <link href='https://fonts.googleapis.com/css?family=Krona+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="/js/buffer-loader.js"></script>
    <script src="/js/rhythm.js"></script>
    <script src="/js/select-all.js"></script>
    <script src="/js/controls.js"></script>
    <script src="/js/kick.js"></script>
    <script src="/js/snare.js"></script>
    <script src="/js/hi-hat.js"></script>
    <script src="/js/perc.js"></script>
    <script src="/js/tamb.js"></script>
    <script src="/js/cymbal.js"></script>
    <script src="/js/meter.js"></script>
    <script src="/js/lights.js"></script>
    <script src="/js/login.js"></script>
  </head>
  <body>
  <header>
    <div class="col"><div id="help">&nbsp;</div></div>
    <div class="col"><div id="title">Beat Connection</div></div>
    <div class="col">
    <div id="signup">Signup</div>
    <div id="login">Login</div>
    </div>
  </header>
<% include ./partials/login %>
<% include ./partials/signup %>
<% include ./partials/help %>
  <div id="main-container">
    <div id="main-sequencer">
      <div class="row">
        <div id="allCymbal" class="all"> All </div>
        <div class="instrument">Cymbal</div>
        <button type="radio" class="seq cymbal" id="cymbal1" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal2" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal3" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal4" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal5" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal6" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal7" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal8" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal9" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal10" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal11" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal12" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal13" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal14" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal15" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal16" value="0"></button>
      </div>
      <div class="row">
        <div id="allTamb" class="all"> All </div>
        <div class="instrument">Tamb</div>
        <button type="radio" class="seq tamb" id="tamb1" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb2" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb3" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb4" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb5" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb6" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb7" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb8" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb9" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb10" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb11" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb12" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb13" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb14" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb15" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb16" value="0"></button>
      </div>
      <div class="row">
        <div id="allPerc" class="all"> All </div>
        <div class="instrument">Perc</div>
        <button type="radio" class="seq perc" id="perc1" value="0"></button>
        <button type="radio" class="seq perc" id="perc2" value="0"></button>
        <button type="radio" class="seq perc" id="perc3" value="0"></button>
        <button type="radio" class="seq perc" id="perc4" value="0"></button>
        <button type="radio" class="seq perc" id="perc5" value="0"></button>
        <button type="radio" class="seq perc" id="perc6" value="0"></button>
        <button type="radio" class="seq perc" id="perc7" value="0"></button>
        <button type="radio" class="seq perc" id="perc8" value="0"></button>
        <button type="radio" class="seq perc" id="perc9" value="0"></button>
        <button type="radio" class="seq perc" id="perc10" value="0"></button>
        <button type="radio" class="seq perc" id="perc11" value="0"></button>
        <button type="radio" class="seq perc" id="perc12" value="0"></button>
        <button type="radio" class="seq perc" id="perc13" value="0"></button>
        <button type="radio" class="seq perc" id="perc14" value="0"></button>
        <button type="radio" class="seq perc" id="perc15" value="0"></button>
        <button type="radio" class="seq perc" id="perc16" value="0"></button>
      </div>
      <div class="row">
        <div id="allHiHat" class="all"> All </div>
        <div class="instrument">Hi-hat</div>
        <button type="radio" class="seq hihat" id="hihat1" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat2" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat3" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat4" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat5" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat6" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat7" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat8" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat9" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat10" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat11" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat12" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat13" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat14" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat15" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat16" value="0"></button>
      </div>
      <div class="row">
        <div id="allSnare" class="all"> All </div>
        <div class="instrument">Snare</div>
        <button type="radio" class="seq snare" id="snare1" value="0"></button>
        <button type="radio" class="seq snare" id="snare2" value="0"></button>
        <button type="radio" class="seq snare" id="snare3" value="0"></button>
        <button type="radio" class="seq snare" id="snare4" value="0"></button>
        <button type="radio" class="seq snare" id="snare5" value="0"></button>
        <button type="radio" class="seq snare" id="snare6" value="0"></button>
        <button type="radio" class="seq snare" id="snare7" value="0"></button>
        <button type="radio" class="seq snare" id="snare8" value="0"></button>
        <button type="radio" class="seq snare" id="snare9" value="0"></button>
        <button type="radio" class="seq snare" id="snare10" value="0"></button>
        <button type="radio" class="seq snare" id="snare11" value="0"></button>
        <button type="radio" class="seq snare" id="snare12" value="0"></button>
        <button type="radio" class="seq snare" id="snare13" value="0"></button>
        <button type="radio" class="seq snare" id="snare14" value="0"></button>
        <button type="radio" class="seq snare" id="snare15" value="0"></button>
        <button type="radio" class="seq snare" id="snare16" value="0"></button>
      </div>
      <div class="row">
          <div id="allKick" class="all"> All </div>
          <div class="instrument">Kick</div>
          <button type="radio" class="seq kick" id="kick1" value="0"></button>
          <button type="radio" class="seq kick" id="kick2" value="0"></button>
          <button type="radio" class="seq kick" id="kick3" value="0"></button>
          <button type="radio" class="seq kick" id="kick4" value="0"></button>
          <button type="radio" class="seq kick" id="kick5" value="0"></button>
          <button type="radio" class="seq kick" id="kick6" value="0"></button>
          <button type="radio" class="seq kick" id="kick7" value="0"></button>
          <button type="radio" class="seq kick" id="kick8" value="0"></button>
          <button type="radio" class="seq kick" id="kick9" value="0"></button>
          <button type="radio" class="seq kick" id="kick10" value="0"></button>
          <button type="radio" class="seq kick" id="kick11" value="0"></button>
          <button type="radio" class="seq kick" id="kick12" value="0"></button>
          <button type="radio" class="seq kick" id="kick13" value="0"></button>
          <button type="radio" class="seq kick" id="kick14" value="0"></button>
          <button type="radio" class="seq kick" id="kick15" value="0"></button>
          <button type="radio" class="seq kick" id="kick16" value="0"></button>
        </div>
        <div class="row lites">
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
          </div>
      <div class="row">

        <label>BPM: <input id="tempo" type="text" value="120" min="0" max="280"></label>
        <!-- <button type="button" id="save">Save</button> -->
        <div class="controls"  id="clearAll">Clear</div>
        <div class="controls" id="sixteenths">&#9835;</div>
        <div class="controls" id="eighths">&#9834;</div>
        <div class="controls" id="quarters">&#9833;</div>
        <div class="controls" id="playLoop">&#9658;</div>
        <div class="controls" id="stopLoop">&#9724;</div>
      </div>
      </div>
  </div>
  <div id="fx-container">
    <div class="channel one">
      <div class="channel-title">Kick</div>
      <div class="vol">
        <div class="volMeter" id="kVol">&nbsp;&nbsp;Vol: 5</div>
        <div class="up" id="kVolUp">&#9650;</div>
        <div class="down" id="kVolDown">&#9660;</div>
      </div>
      <div class="distortion">
        <div class="volMeter" id="kDist" value=0>&nbsp;Dist: 0</div>
        <div class="up" id="kDistUp">&#9650;</div>
        <div class="down" id="kDistDown">&#9660;</div>
      </div>
      <div class="reverb">
        <div class="volMeter" id="kVerb" value=0>Verb: 0</div>
        <div class="up" id="kVerbUp">&#9650;</div>
        <div class="down" id="kVerbDown">&#9660;</div>
      </div>
    </div>
    <div class="channel two">
      <div class="channel-title">Snare</div>
      <div class="vol">
        <div class="volMeter" id="sVol" value=0>&nbsp;&nbsp;Vol: 5</div>
        <div class="up" id="sVolUp">&#9650;</div>
        <div class="down" id="sVolDown">&#9660;</div>
      </div>
      <div class="distortion">
        <div class="volMeter" id="sDist" value=0>&nbsp;Dist: 0</div>
        <div class="up" id="sDistUp">&#9650;</div>
        <div class="down" id="sDistDown">&#9660;</div>
      </div>
      <div class="reverb">
        <div class="volMeter" id="sVerb" value=0>Verb: 0</div>
        <div class="up" id="sVerbUp">&#9650;</div>
        <div class="down" id="sVerbDown">&#9660;</div>
      </div>
    </div>
    <div class="channel three">
      <div class="channel-title">Hi-hat</div>
      <div class="vol">
        <div class="volMeter" id="hVol" value=0>&nbsp;&nbsp;Vol: 5</div>
        <div class="up" id="hVolUp">&#9650;</div>
        <div class="down" id="hVolDown">&#9660;</div>
      </div>
      <div class="distortion">
        <div class="volMeter" id="hDist" value=0>&nbsp;Dist: 0</div>
        <div class="up" id="hDistUp">&#9650;</div>
        <div class="down" id="hDistDown">&#9660;</div>
      </div>
      <div class="reverb">
        <div class="volMeter" id="hVerb" value=0>Verb: 0</div>
        <div class="up" id="hVerbUp">&#9650;</div>
        <div class="down" id="hVerbDown">&#9660;</div>
      </div>
    </div>
    <div class="channel four">
      <div class="channel-title">Percussion</div>
      <div class="vol">
        <div class="volMeter" id="pVol" value=0>&nbsp;&nbsp;Vol: 5</div>
        <div class="up" id="pVolUp">&#9650;</div>
        <div class="down" id="pVolDown">&#9660;</div>
      </div>
      <div class="distortion">
        <div class="volMeter" id="pDist" value=0>&nbsp;Dist: 0</div>
        <div class="up" id="pDistUp">&#9650;</div>
        <div class="down" id="pDistDown">&#9660;</div>
      </div>
      <div class="reverb">
        <div class="volMeter" id="pVerb" value=0>Verb: 0</div>
        <div class="up" id="pVerbUp">&#9650;</div>
        <div class="down" id="pVerbDown">&#9660;</div>
      </div>
    </div>
    <div class="channel five">
      <div class="channel-title">Tamborine</div>
      <div class="vol">
        <div class="volMeter" id="tVol" value=0>&nbsp;&nbsp;Vol: 5</div>
        <div class="up" id="tVolUp">&#9650;</div>
        <div class="down" id="tVolDown">&#9660;</div>
      </div>
      <div class="distortion">
        <div class="volMeter" id="tDist" value=0>&nbsp;Dist: 0</div>
        <div class="up" id="tDistUp">&#9650;</div>
        <div class="down" id="tDistDown">&#9660;</div>
      </div>
      <div class="reverb">
        <div class="volMeter" id="tVerb" value=0>Verb: 0</div>
        <div class="up" id="tVerbUp">&#9650;</div>
        <div class="down" id="tVerbDown">&#9660;</div>
      </div>
    </div>
    <div class="channel six">
      <div class="channel-title">Cymbal</div>
      <div class="vol">
        <div class="volMeter" id="cVol" value=0>&nbsp;&nbsp;Vol: 5</div>
        <div class="up" id="cVolUp">&#9650;</div>
        <div class="down" id="cVolDown">&#9660;</div>
      </div>
      <div class="distortion">
        <div class="volMeter" id="cDist" value=0>&nbsp;Dist: 0</div>
        <div class="up" id="cDistUp">&#9650;</div>
        <div class="down" id="cDistDown">&#9660;</div>
      </div>
      <div class="reverb">
        <div class="volMeter" id="cVerb" value=0>Verb: 0</div>
        <div class="up" id="cVerbUp">&#9650;</div>
        <div class="down" id="cVerbDown">&#9660;</div>
      </div>
    </div>
  </div>
</body>
</html>
