<!DOCTYPE html>
<html>
  <head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Beat Connection</title>
		<link href='https://fonts.googleapis.com/css?family=Philosopher:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="/js/buffer-loader.js"></script>
    <script src="/js/rhythm.js"></script>
    <script src="/js/pattern.js"></script>
    <script src="/js/login.js"></script>
  </head>
  <body>
  <header>
    <div id="title">Beat Connection</div>
    <!-- <button id="signup">Signup</button>
    <button id="login">Login</button> -->
  </header>
<% include ./partials/login %>
<% include ./partials/signup %>
  <div id="main-container">
    <div id="main-sequencer">
      <div class="row">
        <button type="radio" id="allCymbal" class="all">All</button>
        <div class="instrument">Cymbal</div>
        <button type="radio" class="seq cymbal" id="cymbal1" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal2" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal3" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal4" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal5" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal6" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal7" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal8" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal9" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal10" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal11" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal12" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal13" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal14" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal15" value="0"></button>
        <button type="radio" class="seq cymbal" id="cymbal16" value="0"></button>
      </div>
      <div class="row">
        <button type="radio" id="allTamb" class="all">All</button>
        <div class="instrument">&nbsp;&nbsp;&nbsp;Tamb</div>
        <button type="radio" class="seq tamb" id="tamb1" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb2" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb3" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb4" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb5" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb6" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb7" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb8" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb9" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb10" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb11" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb12" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb13" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb14" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb15" value="0"></button>
        <button type="radio" class="seq tamb" id="tamb16" value="0"></button>
      </div>
      <div class="row">
        <button type="radio" id="allPerc" class="all">All</button>
        <div class="instrument">&nbsp;&nbsp;&nbsp;Perc</div>
        <button type="radio" class="seq perc" id="perc1" value="0"></button>
        <button type="radio" class="seq perc" id="perc2" value="0"></button>
        <button type="radio" class="seq perc" id="perc3" value="0"></button>
        <button type="radio" class="seq perc" id="perc4" value="0"></button>
        <button type="radio" class="seq perc" id="perc5" value="0"></button>
        <button type="radio" class="seq perc" id="perc6" value="0"></button>
        <button type="radio" class="seq perc" id="perc7" value="0"></button>
        <button type="radio" class="seq perc" id="perc8" value="0"></button>
        <button type="radio" class="seq perc" id="perc9" value="0"></button>
        <button type="radio" class="seq perc" id="perc10" value="0"></button>
        <button type="radio" class="seq perc" id="perc11" value="0"></button>
        <button type="radio" class="seq perc" id="perc12" value="0"></button>
        <button type="radio" class="seq perc" id="perc13" value="0"></button>
        <button type="radio" class="seq perc" id="perc14" value="0"></button>
        <button type="radio" class="seq perc" id="perc15" value="0"></button>
        <button type="radio" class="seq perc" id="perc16" value="0"></button>
      </div>
      <div class="row">
        <button type="radio" id="allHiHat" class="all">All</button>
        <div class="instrument">&nbsp;Hi-hat</div>
        <button type="radio" class="seq hihat" id="hihat1" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat2" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat3" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat4" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat5" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat6" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat7" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat8" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat9" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat10" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat11" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat12" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat13" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat14" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat15" value="0"></button>
        <button type="radio" class="seq hihat" id="hihat16" value="0"></button>
      </div>
      <div class="row">
        <button type="radio" id="allSnare" class="all">All</button>
        <div class="instrument">&nbsp;&nbsp;Snare</div>
        <button type="radio" class="seq snare" id="snare1" value="0"></button>
        <button type="radio" class="seq snare" id="snare2" value="0"></button>
        <button type="radio" class="seq snare" id="snare3" value="0"></button>
        <button type="radio" class="seq snare" id="snare4" value="0"></button>
        <button type="radio" class="seq snare" id="snare5" value="0"></button>
        <button type="radio" class="seq snare" id="snare6" value="0"></button>
        <button type="radio" class="seq snare" id="snare7" value="0"></button>
        <button type="radio" class="seq snare" id="snare8" value="0"></button>
        <button type="radio" class="seq snare" id="snare9" value="0"></button>
        <button type="radio" class="seq snare" id="snare10" value="0"></button>
        <button type="radio" class="seq snare" id="snare11" value="0"></button>
        <button type="radio" class="seq snare" id="snare12" value="0"></button>
        <button type="radio" class="seq snare" id="snare13" value="0"></button>
        <button type="radio" class="seq snare" id="snare14" value="0"></button>
        <button type="radio" class="seq snare" id="snare15" value="0"></button>
        <button type="radio" class="seq snare" id="snare16" value="0"></button>
      </div>
      <div class="row">
          <button type="radio" id="allKick" class="all">All</button>
          <div class="instrument">&nbsp;&nbsp;&nbsp;Kick</div>
          <button type="radio" class="seq kick" id="kick1" value="0"></button>
          <button type="radio" class="seq kick" id="kick2" value="0"></button>
          <button type="radio" class="seq kick" id="kick3" value="0"></button>
          <button type="radio" class="seq kick" id="kick4" value="0"></button>
          <button type="radio" class="seq kick" id="kick5" value="0"></button>
          <button type="radio" class="seq kick" id="kick6" value="0"></button>
          <button type="radio" class="seq kick" id="kick7" value="0"></button>
          <button type="radio" class="seq kick" id="kick8" value="0"></button>
          <button type="radio" class="seq kick" id="kick9" value="0"></button>
          <button type="radio" class="seq kick" id="kick10" value="0"></button>
          <button type="radio" class="seq kick" id="kick11" value="0"></button>
          <button type="radio" class="seq kick" id="kick12" value="0"></button>
          <button type="radio" class="seq kick" id="kick13" value="0"></button>
          <button type="radio" class="seq kick" id="kick14" value="0"></button>
          <button type="radio" class="seq kick" id="kick15" value="0"></button>
          <button type="radio" class="seq kick" id="kick16" value="0"></button>
        </div>
        <div class="row lites">
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
          </div>
      <div class="row">
        <h3>BPM: <input id="tempo" type="text" value="120" min="0" max="280"></h3>
        <!-- <button type="button" id="save">Save</button> -->
        <input type="button" class="controls" value="&#8592;" id="clearAll"/>
        <input type="button" class="controls" value="&#9835;" id="sixteenths"/>
        <input type="button" class="controls" value="&#9834;" id="eighths"/>
        <input type="button" class="controls" value="&#9833;" id="quarters"/>
        <input type="button" class="controls" value="&#9658;" id="playLoop"/>
        <input type="button" class="controls" value="&#9632;" id="stopLoop"/>
      </div>
      </div>
  </div>
</body>
</html>
