html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---------------------------*/
body {
  font-family: 'Philosopher', sans-serif;
}

header {
  width: 100%;
  background-color: #333;
  height: 50px;
  padding-top: 14px;
	padding-bottom: 10px;
	overflow: auto;
	text-align: center;
}

#login, #signup{
	float: right;
	margin-bottom: 10px;
}

#title {
  font-size: 2.5em;
  font-family: 'Tangerine', cursive;
  color: #f3f3f3;
  margin: 0 auto;
}

#main-container {
  width: 900px;
  height: 520px;
  margin: 30px auto;
  border-radius: 20px;
  overflow: auto;
  z-index: -1;
  box-shadow: 1px 4px 37px #504A4B;
  color: #2c303b;
  text-align: center;
  background: #4c4c4c; /* Old browsers */
  background: -webkit-linear-gradient(#4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  background: -o-linear-gradient(#4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  background: linear-gradient(#4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

#main-sequencer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h5 {
  display: inline;
  color: white;
}

h3 {
  color: white;
}

#sequencer {
  width: 100%;
  margin: 0 auto 100px;
  height: 50px;
}

.row {
  margin: 0 auto;
}

.seq {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #D1D0CE;
  margin-top: 20px;
  display: inline-block;
  box-shadow: 2px 3px 6px #504A4B;
}

.all {
	width: 30px;
	height: 30px;
	border-radius: 30px;
	border: 1px solid #333;
}

#tempo {
  margin: 20px auto;
}

.controls, .all {
  font-family: 'Philosopher', sans-s80if;
}

.controls {
		background-color: deepskyblue;
		border-radius: 20px;
}

#quarters {
	background-color: lime;
}

#playLoop {
	padding: 4px 6px;
}
#stopLoop {
	font-size: 1em;
	line-height: 1em;
}
/*------ Login modal -----*/
#login-modal {
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 100;
}

#signup-modal {
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modal-body {
  position: absolute;
  width: 100%;
  top: 40px;
  background-color: rgb(220,220,220);
  padding-bottom: 100%;
}

#login-title {
  margin-top: 30px;
}

#signup-title {
  margin-top: 30px;
}
