html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-  MAIN
----------------------------------------------------------------------*/
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #EDE7F6;
}

header {
  width: 100%;
  background-color: black;
  height: 50px;
  padding: 10px 0 12px 0;
	overflow: auto;
	text-align: center;
}

#login, #signup{
	float: right;
	margin: -22px 30px 0 0;
	color: white;
	padding-bottom: 20px;
	cursor: pointer;
}

#title {
  font-size: 1.75em;
  color: whitesmoke;
  margin: 14px auto 0;
	font-family: 'Krona One', sans-serif;
}

#main-container {
	width: 760px;
	height: 360px;
	margin: 60px auto 1px;
	border-radius: 20px;
	z-index: -1;
	box-shadow: 1px 4px 37px #504A4B;
	color: #2c303b;
	text-align: center;
	background: black;
}

#main-sequencer {
  width: 100%;
  margin: 10px auto 0;
  text-align: center;
}

.instrument {
  display: inline-block;
  color: whitesmoke;
	font-size: 0.75em;
	margin-right: 10px;
	width: 40px;

}

label {
  color: whitesmoke;
	padding-top: 10px;
	margin-right: 10px;
}

.row {
	width: 740px;
  margin: 0 auto;
	text-align: center;
}

.row:first-child {
	padding-top: 15px;
}

.seq {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  margin-top: 10px;
  display: inline-block;
  box-shadow: 2px 3px 6px #504A4B;
}

.all {
	display: inline-block;
	height: 20px;
	width: 20px;
	margin:0;
	padding: 0;
	font-size: 0.75em;
	line-height: 1.7em;
	text-align: center;
	color: darkorange;
	border: 2px solid deepskyblue;
	border-radius: 20px;
	cursor: pointer;
}

.lites {
	margin: 10px 0 0 71px;
	width: 700px;
}

.light {
	width: 30px;
	height: 10px;
	background-color: deepskyblue;
	display: inline-block;
	border-radius: 10px;
	box-shadow: 1px 2px 5px #333;
}
.light:nth-child(1),
.light:nth-child(5),
.light:nth-child(9),
.light:nth-child(13){
	background-color: mediumslateblue;
}
#tempo {
  margin: 20px auto;
	width: 20px;
}

.controls {
	background-color: deepskyblue;
	border-radius: 30px;
	width: 30px;
	height: 30px;
	text-align: center;
	font-size: 1em;
	line-height: 1em;
	font-weight: bolder;
}

#clearAll {
	background-color: darkorange;
	margin: 0 20px 0 14px;
}

#quarters {
	background-color: mediumslateblue;
}

#playLoop {
	background-color: limegreen;
	margin-left: 20px;
}

#stopLoop {
	background-color: magenta;
	line-height: 0.875em;
}

#fx-container {
	width: 760px;
	height: 100px;
	background-color: black;
	margin: 0 auto;
	border-radius: 20px;
}

/*-  CHANNELS
----------------------------------------------------------------------*/
.channel {
	width:  16%;
	border-right: 1px solid #fff;
	display: inline-block;
}

.channel:last-child {
	border-right: none;
}

.channel-title {
	font-size: 0.75em;
	color: white;
	margin: 5px auto;
	text-align: center;
}

p {
  margin-top: 0;
}

.up {
  background: mediumslateblue;
  width: 15px;
  height: 15px;
  font-size: 0.875em;
  line-height: 1.25em;
  margin: 0;
	display: inline-block;
	cursor: pointer;
}

.down {
  background: oldlace;
  width: 15px;
  height: 15px;
  font-size: 0.875em;
  line-height: 1.3em;
  margin: 0;
	display: inline-block;
	cursor: pointer;
	background-color: deepskyblue;
}

.volMeter{
  font-size: 0.75em;
  color: white;
  margin: 10px auto 0;
	display: inline-block;
}
.vol,
.distortion,
.reverb {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.reverb {
	margin-bottom: 10px;
}

/*-  KICK FX
----------------------------------------------------------------------*/


/*-  SNARE FX
----------------------------------------------------------------------*/


#kickV{
  font-size: 1em;
  color: white;
  margin: 10px auto 0;
	display: inline-block;
}


/*------ Login modal -----*/
#login-modal, #signup-modal {
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 100;
	text-align: center;
}

.modal-body {
  position: absolute;
  width: 100%;
  top: 40px;
  background-color: rgb(220,220,220);
  padding-bottom: 100%;
}

#login-title {
  margin-top: 30px;
}

#signup-title {
  margin-top: 30px;
}
