<div id="login-modal">
      <h4 id="login-title">Log In</h4>
      <form id="login">
       <input type="text" name="username" placeholder="Username">
       <input type="text" name="password" placeholder="Password">
       <br>
       <input type="submit" name="submit" value="Submit">
      </form>
</div>
