<div id="modal">
  <div class="modal-content">
    <div class="modal-body">
      <h4 id="login-title">Log In</h4>
      <form id="login">
     <input type="text" name="username" placeholder="Username">
     <input type="text" name="password" placeholder="Password">
     <br>
     <input type="submit" name="submit" value="Submit">

     <h4 class="signupText">Sign Up</h4>
      </form>
      <form id="signup">
     <input type="text" name="username" placeholder="Username">
     <input type="text" name="password" placeholder="Password">
     <br>
     <input type="submit" name="submit" value="Submit">
      </form>
      </div>
    </div>
</div>
